Problem: Given a picture of wheat grains touching each other. So the problem is to generate images containing only one wheat grain in it from the given wheat picture.

 -Problem is divided in Two parts:
 
  1. Find the points on border that connect the wheat grains.
  
  2. Segment grains based on these points.
  
  3. Finally approximate the missing part of grain.

Failed Solution for segmentations:

 1. eigen vectors and value: these can not be used if there is more the one grain to approx. identify grain border.
 
 2. K-mean or K-mean++: k-mean clusterin can provide a good approximation of a grain but the problem with k-means is we does not know how many grain can be present in a picture. So it can be successful if we identify the number of grain present in a picture.
 
Possible solution segmentations:

1. If number of grains are identified then we can applyt k-mean to approximate the area of grain.

2.Find the indersection curvs and then connect then to divide the grain
